* {
    margin: 0;
    padding: 0;
    /* border: 1px solid rgb(172, 240, 71); */
}

body {
    box-sizing: border-box;
    font-family: Roboto, monospace;
    color: white;
}

.site-container {
    height: 100vh;

    display: grid;
    grid-template: 0.8fr 3fr /1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar panel"
    ;
}

svg {
    display: inline;
    width: auto;
    height: 2rem;
    fill: white;
}

li {
    list-style-type: none;
}

.sidebar {
    background: #1d3557;
    grid-area: sidebar;

    display: grid;
    border: 1px solid red;
    grid-template: 1fr 3fr 6fr /1fr;
    gap: 3rem;
}

.sidebar .logo div,.navigation li,.help li {
    display: grid;
    grid-template-columns: 3.5rem 6rem;
    align-items: center;
}
.sidebar li {
    margin-bottom: 0.5rem;
}
.sidebar svg {
    padding-left: 1rem;
}
.logo svg {
    height: 3rem;
}
.logo span {
    font-size: 1.5rem;
    font-weight:500;
}
.sidebar .text {
    font-weight:400;
}

















.header {
    background-color: grey;
    grid-area: header;

    display: grid;
    grid-template: 1fr 2fr/1fr;
}

.header .top {
    background: #457b9d;
    /* display: grid; */

}

.top input {}

.header .bottom {
    background: #a8dadc;
}

.panel {
    background-color: #f1faee;
    grid-area: panel;
}